.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.emailArea {
    display: flex;
    align-items: center;
    // justify-content: center;
    padding: 10px;
}

.emailMessageArea {
    
    margin-bottom: 0px;
    padding: 10px;
}

.pwdArea {
    display: flex;
    align-items: center;
    // justify-content: center;
    padding: 10px;
}

.pwdMessageArea {
    
    padding: 10px;
}